.header__min{
    margin-top: 50px;
    display: block;
    background-color: black;
    border:solid black;
}

.header__menu{
    display: inline;
}

.header__link{
    display: inline;
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: black;
    background-color: rgb(245, 245, 250);
}

.header__search, .header__log{
    display: inline;
}

.header__search{
    width: 30px;
    height: 10px;
    color:yellow;
    background-color: yellowgreen;
}

.header__fasebook{
	margin-left: 700px;
}